#Title{
  color: #000;
  font-family: "Inria Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 90px;
  align-self: stretch;
  margin-top: 41;
  margin-left: 52;
}

#Sidebar{
  display: flex;
  width: 114.004px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  left: 15px;
  float: left;
}

#Frame19{
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  margin-top: 10;
  margin-left: 52;
}

#SidebarButton0{
  color: #000;
  font-family: "Inria Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

#SidebarButton1{
  color: rgba(0, 0, 0, 0.50);
  font-family: "Inria Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.Frame9{
  margin-top: 20;
  margin-left: 15;
  margin-right: 66;
}

.BasicTextFrame{
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Text1{
  color: #000;
  font-family: "Inria Sans";
  font-style: normal;
  line-height: normal;
}

.Title{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10;
  text-align: justify;
}

.Content{
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30;
  text-align: justify;
}

.MultipleList>ul>li{
  margin-top: 10;
}

.pdf {
  width: 100%;
  aspect-ratio: 4 / 3;
}