html {
  --sidebar-hight: 0
}

#Title{
  color: #000;
  font-family: "Inria Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 50px;
  align-self: stretch;
  margin-top: 41;
  margin-left: 52;
}

#Sidebar{
  overflow: hidden;
  left: 15px;
  gap: 30px;
}


#SidebarButton{
  color: rgba(0, 0, 0, 0.50);
  font-family: "Inria Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  transition: color 0.3s;
}

#SidebarButton:hover{
  color: rgba(0, 0, 0, 1.0);
}

#SidebarOpenButton{
  float: left;
  margin-right: 10;
  border: 0;
  background-color: transparent;
}

.BasicTextFrame{
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Text1{
  color: #000;
  font-family: "Inria Sans";
  font-style: normal;
  line-height: normal;
}

.Title{
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 10;
  text-align: justify;
}

.Content{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30;
  text-align: justify;
}

.MultipleList>ul>li{
  margin-top: 10;
}

.pdf {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.center-content{
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

/* 미디어 쿼리 적용 */
@media screen and (max-width: 700px) {
  .container {
    max-width: 100%;
    padding: 0 16px; /* 모바일에서 좌우 여백을 위해 패딩 추가 */
  }
}